<nav *ngIf="!hideNav"
     class="w-full bg-white shadow px-6 py-4 flex justify-between items-center">

  <h1 class="text-xl font-bold text-blue-700 cursor-pointer" routerLink="/">
    Handel_App
  </h1>

  <div class="flex items-center space-x-6">

    <a *ngIf="role === 'ADMIN'" routerLink="/admin-dashboard">Admin Dashboard</a>

    <a *ngIf="role === 'USER'" routerLink="/user-dashboard">User Dashboard</a>

    <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>

    <button *ngIf="isLoggedIn"
            (click)="logout()"
            class="px-4 py-2 bg-red-600 text-white rounded-lg">
      Logout
    </button>

  </div>
</nav>
